
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700&display=swap');

:root {
  --1920-width: 85%;
  --1450-width: 85%;
  --1050-width: 90%;
  --800-width: 90%;
  --500-width: 95%;
  --sidebar-width: 320px;
  --header-height: 80px;
  --black: #000000;
  --white: #FFFFFF;
  --primary: #007BEC;
  --primary-dark: #002242;
  --primary-light: #007BEC40;
  --green: #06E402;
  --grey: #6F6F6F;
  --red: #F00000;
  --shadow: #007BEC15;
}

* {
  font-family: 'Overpass', sans-serif;
  font-weight: lighter;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  background: #ffff;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 0.875rem;
  color: #000;
}
.message a:nth-child(odd) {
  text-decoration: underline;
  color: orangered;
}

.grey-text {
  color: white;
  opacity: 0.3;
}
.material-icons {
  color: inherit;
}

.row,
.col {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deep-grey-text {
  color: grey;
}

.primary-text {
  color: #29ABE2;
}

.green {
  color: green !important;
}

.orange {
  color: #714822 !important;
}

.green-bg.percent {
  background-color: rgba(0, 128, 0, 0.315) !important;
  color: green;
}

.orange-bg.percent {
  background-color: #7148225b !important;
  color: #714822;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}
button:active {
  background: #cecece;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.clear-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  height: 2.5rem;
  font-size: 0.875rem;
  transition: 0.3s;
  padding: 0 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.clear-btn:hover, .clear-btn.active {
  background: var(--primary-light);
}
.secondary-btn.clear {
  background: transparent;
}
.secondary-btn {
  align-items: center;
  font-size: 0.875rem;
  background: rgba(69, 104, 209, 0.1);
  color: #4568D1;
  padding: 16px 48px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.primary-btn {
  width: 131px;
  height: 50px;
  font-size: 0.875rem;
  background: var(--primary);
  color: #FFFFFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

input:focus, input:active, input {
  outline: none;
} 

.primary-btn.inverse {
  border: 1px solid #476BD2;
  background-color: transparent;
  color: #FFFFFF;
}

.primary-btn.inverse-2 {
  color: #4568D1;
  background: rgba(16, 43, 121, 0.1);
}


.primary-btn.inverse:hover {
  filter: brightness(95%);
  -webkit-filter: brightness(95%);
}
.primary-btn:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.modal-ctn {
  position: fixed;
  inset: 0;
  background: #00407B70;
  z-index: 2;
}
.modal .primary-btn {
  margin-top: 24px;
  display: block;
  margin: auto;
}

.primary-btn:disabled {
  background: #8C97AC !important;
  cursor: not-allowed;
}

.secondary-btn:disabled {
  background: #8C97AC !important;
  cursor: not-allowed;
}

a.disabled {
  pointer-events: none;
  background: #8C97AC !important;
  cursor: not-allowed;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Error Handling and State specifiers */
.loading-spinner {
  padding-top: 24px;
  width: 100%;
  text-align: center;
}
.primary-btn.loading {
  background: linear-gradient(90deg, #66d1ff, #476BD2);
  background-size: 200%;
  animation: skeleton 0.7s ease-in-out infinite;
  -webkit-animation: skeleton 0.7s ease-in-out infinite;
}
.secondary-btn.loading {
  background: linear-gradient(90deg, #15C059, #00471d);
  background-size: 200%;
  animation: skeleton 0.7s ease-in-out infinite;
  -webkit-animation: skeleton 0.7s ease-in-out infinite;
}
.entire-screen-spinner {
  position: fixed;
  background-color: #000000b4;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  place-items: center;
}
.entire-screen-spinner > .loader {
  width: 100px;
  height: 100px;
}

.error-bar {
  background: #4568d123;
  color: #4568d1;
  align-items: center;
  padding: 0 24px;
  display: flex;
  margin: 12px 0;
  font-size: 15px;
  height: 2.5rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.error-bar .icon {
  font-size: 16px;
  margin-right: 12px;
}

.success-bar {
  background: #5bf79750;
  color: #00d41c;
  align-items: center;
  padding: 0 24px;
  display: flex;
  margin: 12px 0;
  font-size: 15px;
  height: 2.5rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.success-bar .icon {
  font-size: 16px;
  margin-right: 12px;
}

.info-bar {
  background: #56a6d457;
  color: #2a6588;
  align-items: center;
  padding: 0 24px;
  display: flex;
  margin: 12px 0;
  font-size: 15px;
  height: 2.5rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.info-bar .icon {
  font-size: 16px;
  margin-right: 12px;
}


.notification-bar {
  background: #3431ff50;
  color: #080035;
  align-items: center;
  padding: 0 24px;
  display: flex;
  margin: 12px 0;
  font-size: 13px;
  height: 2.5rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.notification-bar .text {
  font-size: 13px;
}

/* Form Styles */
.form-row {
  display: flex;
  justify-content: space-between;
}
.form-row .form-group {
  flex-basis: 48%;
  margin-bottom: 0;
}

.form-group {
  margin-top: 28px;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
}
.form-group label {
  font-size: 0.8rem;
  display: block;
  margin-bottom: 8px;
  color: #000000;
  transition: 0.3s;
}

.form-group input, .form-group select {
  display: block;
  border: 1px solid #566ba036;
  background: transparent;
  transition: 0.3s;
  font-size: 1rem;
  z-index: 1;
  width: 100%;
  height: 55px;
  padding: 0 12px;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.form-group input::placeholder, .form-group textarea::placeholder {
  color: #4568d149;
  font-size: 1rem;
}
.form-group textarea {
  display: block;
  border-radius: 8px;
  border: 1px solid #566ba036;
  background: transparent;
  transition: 0.3s;
  width: 100%;
  padding: 16px 24px;
  min-height: 150px;
  font-size: 1rem;
  resize: vertical;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.form-group label.image {
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
  border: 1px solid rgba(111, 130, 199, 0.42);
  background: transparent;
  transition: 0.3s;
  width: 100%;
  padding: 16px 24px;
  position: relative;
}
.form-group label.image .icon {
  margin-left: 8px;
}
.form-group label.image::after {
  content: 'Select Image';
  height: 40px;
  width: 120px;
  font-size: 0.875rem;
  background: var(--primary);
  color: #FFFFFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin-top: 0;
  position: absolute;
  top: 10%;
  right: 4px;
}
.form-group input[type="file"] {
  appearance: none;
  inset: 0;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.form-group select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.form-group.checkbox label {
  display: flex;
  flex-direction: row-reverse;
}
.form-group.checkbox input {
  margin-right: 8px;
}
.form-group .icon {
  position: absolute;
  right: 16px;
  top: 50%;
}

.form-group input:focus, .form-group textarea:focus, .form-group select:focus {
  border: 1px solid #476BD2;
  outline: 0px;
}
.form-group input:focus + label, .form-group textarea:focus + label, .form-group select:focus + label {
  color: #476BD2;
}
.form-group input:focus ~ .icon, .form-group textarea:focus ~ .icon, .form-group select:focus ~ .icon {
  color: #476BD2;
}
.tel-flex {
  display: flex;
  align-items: center;
  border-right: 1px solid #cecece;
  width: 80px;
  position: absolute;
  top: 40px;
  left: 12px;
  font-size: 1rem;
}
.tel-flex > img {
  margin-right: 6px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.tel-flex > span {
  display: block;
  position: relative;
  top: 2px;
}
.tel-flex + input {
  padding-left: 100px;
}

/* set whole screen to fixed position on the condition that the drop down menu is active */
.fixed-position {
  width: 100%;
  position: fixed;
  min-height: 90%;
  overflow-y: auto;
}

.back-to-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: #000;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 10px;
  width: 55px;
  transition: 0.125s;
  z-index: 2;
  display: none;
}

.back-to-top-text {
  display: none;
}

.back-to-top:hover {
  width: 160px;
  opacity: 1;
  background: rgba(255, 255, 255, 1);
}

.back-to-top:hover .back-to-top-text {
  display: block;
}

.back-to-top span {
  font-size: 17px;
  height: 20px;
}

@media screen and (max-width: 500px) {
  .back-to-top-text {
    display: none;
  }

  .back-to-top:hover {
    width: 55px;
  }

  .back-to-top:hover .back-to-top-text {
    display: none;
  }

  .back-to-top {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    right: 20px;
    bottom: 20px;
  }
}

/* Sections */
.page {
  position: relative;
  padding-bottom: 1rem;
}
.section {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  position: relative;
}
.section > .inner {
  width: var(--1920-width);
  position: relative;
}
.section-1 {
  padding-top: 100px;
}

.section-1 .text-1 {
  font-weight: 500;
}
.section > .inner > .heading, .inner .inner-section .heading {
  text-align: center;
  margin: 3.5rem auto;
  margin-top: 1rem;
  width: 40%;
}
.section > .inner > .heading > .text-1, .inner .inner-section .heading > .text-1 {
  font-size: 2.6rem;
  font-weight: 500;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.section > .inner > .heading > .text-2, .inner .inner-section .heading > .text-2 {
  font-size: 1.1rem;
  line-height: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
}


/* ANIMATIONS */
.skeleton {
  background: linear-gradient(90deg, #eeeeee, #dadada, #ebebeb);
  /* background: linear-gradient(90deg, #eeeeee, #ffd8bd, #fff0e6); */
  background-size: 200%;
  animation: skeleton 1s ease-in-out infinite;
  -webkit-animation: skeleton 1s ease-in-out infinite;
}
.skeleton.card {
  height: 12.5rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.reveals {
  animation: reveals .7s ease-in-out;
  -webkit-animation: reveals .7s ease-in-out;
}
@keyframes reveals {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.come-down-sm {
  animation: come-down-sm .3s ease-in-out;
  -webkit-animation: come-down-sm .3s ease-in-out;
}

@keyframes come-down-sm {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

.fade-in {
  animation: fade-in 1s ease-in-out forwards;
  -webkit-animation: fade-in 1s ease-in-out forwards;
}
@keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}
.fade-out {
  animation: fade-in 1s ease-in-out reverse forwards;
  -webkit-animation: fade-in 1s ease-in-out reverse forwards;
}

@keyframes skeleton {
  0% {
    background-position:  50% 0%;
  }
  50% {
    background-position:  100% 100%;
  }
  100% {
    background-position:  50% 0%;
  }
}

/* // Hide Number Arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1400px) {
  .form-group {
    margin-top: 20px;
  }
}
